<?xml version="1.0"?>
<manifest package="com.caviabioacoustics.app" 
          xmlns:android="http://schemas.android.com/apk/res/android" 
          android:versionCode="1" 
          android:versionName="1.0.0">
          
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <application android:icon="@drawable/icon" android:label="Cavia Bioacoustics">
        </application>
    
</manifest>
